
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: #25420F;
    color: white;
    text-align: center;
    padding: 10px;
    align-items: center;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 25px;
}
.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    width: calc(33.33% - 20px);
    vertical-align: top;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.product img {
    max-width: 100%;
    height: auto;
    align-items: center;
    margin-left: 60px;
}
.product h2 {
    font-size: 18px;
    margin: 10px 0;
}
.product p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

#return{
    font-style: #ff8513ce;
}