body {
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 800px; /* Largura aumentada para o container */
    margin: 5% auto; /* Centraliza o container horizontalmente */
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.container .form-group {
    margin-top: 20px;
}

.container label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.container input[type="text"],
.container input[type="file"] {
    width: 60%; /* Largura reduzida para os inputs */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
h1 {
    text-align: center;
}

.form-group {
    margin-top: 20px;
    width: 100%;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #F49619;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
}

input[type="submit"]:hover {
    background-color: #a7f419;
}

.link {
    text-align: center;
}

.link a {
    color: #F49619;
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}
